.cadastrar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../public/assets/img/teste.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .cadastrar-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Largura máxima do card */
    margin: 0 auto;
  }
  
  .cadastrar-form h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #114310;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
  
  .cadastrar-form p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-cadastrar  {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    background-color: #2F5B2E; /* Verde escuro */
    color: #fff;
  }
  
  .btn-cadastrar:hover {
    background-color: #6b9b58; /* Cor verde um pouco mais escura */
  }
  
  
  /* Media query para telas menores que 550px */
  @media (max-width: 550px) {
    .cadastrar-form h1{
      font-size: 24px;
    }
  
    .cadastrar-form {
        width: calc(100% - 30px); /* Ajusta a largura para deixar o espaço dos lados */
    }
  }