.card-category {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 20px;

}

.card-category:hover {
  transform: scale(1.1);
  background-color: var(--verde-escuro);
  color: white;
  /* transform: translateY(-10px); */
}

/* Efeito de clique (ativo) */
.active,
.card-category:hover {
  background-color: var(--verde-escuro);
  color: white !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-category-title {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}

.card-icon {
  font-size: 36px;
  color: #331800;
}

.active > .card-icon,
.card-category:hover .card-icon{
  color: white;
}