.card-category {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 20px;

}

.card-category:hover {
  transform: scale(1.1);
  background-color: var(--verde-escuro);
  color: white;
  /* transform: translateY(-10px); */
}

.card-category-title {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  /* Espaçamento superior do título */
}

.card-icon {
  font-size: 36px;
  /* Tamanho do ícone */
  color: #331800;
  /* Cor do ícone */
}

.card-category:hover .card-icon {
  color: white; /* Cor do ícone quando o card está em hover */
}