.product-card {
    position: relative;
  }
  
  .discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4CAF50; /* Verde para o balão de desconto */
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    z-index: 10;
  }
  
  .favorite-button {
    z-index: 10;
  }
  