.header{
    background-color: var(--verde-escuro);
    height: 100px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.imglogo{
    object-fit: contain;
    /* width: 200px; */
    height: 70px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%; /* Ajuste conforme necessário */
    position: relative;
  }
  
  .search-input {
    flex: 1;
    padding: 8px 32px; /* Espaço para o ícone */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    color: #333;
  }
  
  .search-input::placeholder {
    color: #666;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    color: var(--verde-escuro);
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.search-icon:hover {
    transform: scale(1.2);
    color: #666;
}

  
.icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--branco);
  }
  
  .icon:hover {
    transform: scale(1.2);
    color: #d1d1d1;
}

.navigation {
  margin-top: 10px;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  color: var(--branco);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  padding: 7px 15px;
  border-radius: 8px;
}

.nav-list a:hover {
  background-color: #fff;
  color:#666;

}