/* Estilos principais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffff;
    margin: 0;
    padding: 0;
  }
  .text-center{
    text-align: center;
  }
  .checkout-container {
   padding-left: 10%;
   padding-right: 10%;
    /* margin: 10px auto;
    background: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; */
  }
  .compra-concluida {
    margin-top: 20px;
    text-align: center;
  }
  
  .selo-compra {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .barra-progresso {
    margin-top: 20px;
    height: 5px;
    background-color: #f0f0f0;
  }
  
  .barra {
    height: 100%;
    background-color: #28a745;
    transition: width 1s ease;
  }
  
  .checkout-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
  }
  
  .close-modal-button {
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-modal-button:hover {
    background-color: #d32f2f;
  }

  .checkout-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .info-inputt {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .form-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .submit-button {
    background-color: #28a745;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .submit-button:active {
    background-color: #1e7e34;
  }
  
  /* Estilo responsivo */
  @media (max-width: 768px) {
    .checkout-container {
      margin: 20px;
      padding: 20px;
    }
  
    .checkout-title {
      font-size: 20px;
    }
  
    .form-input {
      font-size: 14px;
      padding: 10px;
    }
  
    .submit-button {
      font-size: 14px;
      padding: 10px;
    }

    .pagamento-icone {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .pagamento-icone img {
      max-width: 100%;
      height: auto;
    }
    
  }
  