/* produto.css */

.prod_escolhido {
    margin-top: 20px;
}

/* Estilização da imagem do produto */
.imgs_prod .img_inicial {
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
    object-fit: cover;
}

/* Informações do produto */
.info_prod h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.info_prod .descricao {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.info_prod .preco {
    font-size: 20px;
    color: rgb(165, 50, 50);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: line-through;
    margin-bottom: 5px;
}

.info_prod .desc {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #2F5B2E;
    margin-bottom: 15px;
}

/* Botões de quantidade */
.div_btn_quant {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.div_btn_quant button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #333;
    width: 35px;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.div_btn_quant button:hover {
    background-color: #e0e0e0;
}

.div_btn_quant .quant {
    font-size: 18px;
}

/* Botão de compra */
.btn_compra {
    background-color: #2F5B2E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.btn_compra:hover {
    background-color: #45a049;
}

/* Seção de informações de entrega */
.info_entrega_prod {
    margin-left: 3%;
    margin-right: 3.1%;
}

.info_entrega_prod .infos {
    background-color:#fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info_entrega_prod .infos:hover {
    background-color: #f1f1f1;
}

/* Seção de "Veja também" */
.mais_prods h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.info-icon {
    font-size: 36px;
    color: #4CAF50; /* Verde para os ícones */
}

.information-prods {
    font-family: 'Open Sans', sans-serif;
    font-weight: 530;
    color: #333;
}
