#G{
    height: 60vw;
    padding-top: 6vw;
    justify-content: center;
    display: flex;
}


#pergunta{
    width: 37vw;
    height: 7vw;
    display: flex;
}

#cliente_pergunta{
    position: absolute;
    font: bold 18pt Verdana;
    color:rgb(29, 29, 29);
    user-select: none;
}

#arera_pergunta{
    width: 35vw;
    height: 2vw;
    border: none;
    border-radius: 0.4vw;
    background-color: rgb(219, 219, 219);
    padding-left: 2vw;
    margin-top: 3vw;
}

#btns{
    margin: 6vw 0 0 20vw;
    position: absolute;
}

.perbtn{
    height: 2vw;
    width: 7vw;
    border-radius: 0.4vw;
    color:aliceblue;
    border: none;
    transition: 1s;
}

#deletar{
    background-color: #EE5757;
    font: bold 12pt Verdana;
}

#enviar{
    background-color: #4BBA76;
    font: bold 12pt Verdana;
    margin: 0 0 0 0.8vw
}

#deletar:hover{
    background-color: rgb(218, 123, 123);
    transition: 0.5s;
}

#enviar:hover{
    background-color: rgb(126, 197, 104);
    transition: 0.5s;
}

label{
    position: absolute;
    margin:  11vw 35vw 0 0;
    font: bold 1.2vw Verdana
}

#pergunta_rep{
    margin-top: 14vw;
    position: absolute;
    height:40vw;
    overflow: hidden;
}

.caixa_pr{
    background-color: #e4e4e4;
    width: 50vw;
    height:10vw;
    margin: 0 0 2vw 0;
    border-radius: 1vw;
    border-width: 0.4vw;
    border-style:dotted;
    border-color: #2f5b2e7a;
}

#perguntaT{
    font: bold 1.3vw Arial;
    position: absolute;
    margin: 1.4vw 0 0 2vw;
}

#caixa_da_pergunta{
    font: bold 0.8vw Arial;
    position: absolute;
    margin: 3.4vw 0 0 2vw;
    color: #4e4e4e;
}

#RespostT{
    font: bold 1.3vw Arial;
    position: absolute;
    margin: 5.1vw 0 0 2vw;
}

#caixa_de_resposta{
    font: bold 0.8vw Arial;
    position: absolute;
    margin: 7vw 0 0 2vw;
    color: #4e4e4e;
}

#sep{   
border-top: 1vw;
border-color: #4BBA76;
}