.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.faq-card {
    width: 80%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-card:hover {
    background-color: #f1f1f1;
}

.faq-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-card h3 {
    margin: 0;
    font-size: 18px;
}

.faq-icon {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.faq-icon.active {
    transform: rotate(180deg); /* A seta gira quando o card está aberto */
    
}

.faq-resposta {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}